#map-id{
    height: 550px;
    width: 50%;
    min-width: 45%;
    border:2px solid black;
    border-radius: 5px;
   margin-top:4%;
   margin-left:2%;
   margin-right: 2%;
   margin-bottom:4%;
}

.flex-container{
    display: flex;
    width:100%;
    align-items: center;
    margin-bottom: 3.2em;
}

.hidden-line{
    display:none;
}

#sides{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#legend{
    margin-left: 1.4em;
    margin-top: 1.5em;
    padding:0.1em;
    background-color: white;
    border: 2px solid black;
    border-radius: 5px;
    font-weight: bolder;
    display: inline-block;
}


/* background-image: url("/BayAreaDataVis/assets/background.png"); */
body{
    font-family:  'Montserrat', sans-serif ;
    color:white;
    font-weight: bold;
    background-image: url("/assets/background.png");
    z-index:-1;
    max-width:100%;
    max-height:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#zillow{
    display:inline-block;
    margin-left: 45%;
    background-color: rgba(0,0,0,0.7);
    border-radius: 5px;
    padding: 5px;
    margin-top: 1%;
}

#z{
    text-decoration: none;
    color:rgb(157, 17, 212);
}

.popup {
    font-size: medium;
}

#title{
    font-size: x-large;
    margin-left: 5%;
    margin-right: 5%;
}

h4,#title{
   /* border:2px solid black; */
   border-radius:5px;
   width:60%;
   display: flex;
    justify-content: center;
    padding:1%;
}

#graph{
   width:5%;
   font-size:larger;
}

#svg{
    font-weight: normal;
    font-size: larger;
    height:400px;
    width: 600px;
    border:2px solid black;
    background-color: white;
    margin-right: 10%;
}

footer > a > img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-left: 1em;
    border: 2px solid black
}

footer > a > img:hover{
    box-shadow: 5px 5px rgb(57, 69, 175)
}

#title-flex{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left:1%;
    margin-right:1%;
    background-color: #aadddd38;
    border-radius: 5px;
}

footer{
    display: flex;
    margin-right: 2%;
}