#map-id{
    height: 600px;
    width: 75%;
    border:2px solid black;
    border-radius: 5px;
    margin-left: 5%;
    margin-top: 5%;
   border: 2px solid cyan;

}

.flex-container{
    display: flex;
   border: 2px solid green;
    align-items: center;
    justify-content: space-evenly;
}
body{
     font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;

}

.popup {
    font-size: medium;
}

#title{
    font-size: x-large;
    margin-top: 5px;
    margin-bottom: 5px;
}

h4,#title{
    margin-left: 5%;
    margin-top: 5%;
   border: 2px solid cyan;
}

#graph{
   width:5%;
   font-size:larger;
   border: 2px solid cyan;
   border-radius: 5px;
}

#zillow{
    margin-left: 80%;
}