#map-id{
    height: 600px;
    width: 85%;
    border:2px solid black;
    border-radius: 5px;
    margin-left: 5%;
    margin-top: 5%;
}

.popup {
    font-family: fantasy;
    font-size: large;
    font-weight: bold;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5%;
    margin-top: 5%;
}